/* This is the main css stylesheet for the Astronomy Club website */

/* Universal selectors */

/* unvisited link */
a:link {
  color: #ff8400;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: #cccccc;
}

* {
  font-family: 'Roboto', sans-serif;
  color:#cccccc
}

/* Setting root variables */

:root {
  /* Overall page color */
  --main-bg-color: rgb(0, 0, 87);

  /* Default typography */
  --h1: 22px; text-align: center;
  --h2: 19px; text-align: center;
  --p: 16px;
}

/* Overall styles for background color and other selectors - set padding and margin to zero */

Body {
    background-color: var(--main-bg-color);
    padding: 0px;
    margin: 0px auto;
    font-size: var(--p);
    font-size: var(--h1);
    font-size: var(--h2);
    max-width: 1200px;
}

/*  Make all paragraph links readable in various states */

.p p a:hover, p a:active, p a:visited {
  color: #cccccc;
}

ul li a:hover {
  color: #cccccc;
}

/* Make header section sticky and set BG color, spacing */

.header-container {
  position: sticky;
  top: 0;
  padding: 20px 15px 10px 15px;
  background-color: rgb(0, 0, 87);
  z-index: 5;
}

/* Center the logo and title in the header horizontally */

#header-logo, #name-logo {
  padding:0px;
  margin:0px;
  display:flex;
  justify-content:center;
}

/* Arrangement of header menu buttons */

.nav-menu-container {
margin-top: 10px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 10px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.nav-menu-button {
  background-color: #ff8400; /* Orange */
  color:black;
  border: none;
  font-weight: bold;
  margin: 5px;
  padding: 10px 25px;
  font-size: var(--p);
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  flex: center;
  justify-content: center;
  text-align: center;
}

.nav-menu-button:link {
  background-color: #ff8400; 
  color: black;
}

.nav-menu-button:hover {
  background-color: white; 
}

.nav-menu-button:active {
  background-color: Black; 
  color: white;
}


/* Experimental CSS grid for hamurger menu - a stretch goal, not required for this exercise */
/* Berger menu styles and drop down menu */
/* NOTE: Unable to swap out the hamberger icon on desktop for a different menu style due to the restrictions of not being able to use media queries */
/*
  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
  }
  h1 {
    grid-area: title;
  }
  .menu a {
    text-decoration: none;
    color: black;
  }
  .menu-btn {
    display: none;
  }
  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 60px 40px 30px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }
  .navicon {
    background: #ffffff;
    display: block;
    height: 3px;
    width: 35px;
    position: relative;
  }
  .navicon:before {
    top: 10px;
  }
  .navicon:after {
    top: -10px;
  }
  .navicon:before,
  .navicon:after {
    background: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }
  .menu {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .menu a {
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    background-color: #eee;
    width: 100%;
    text-align: center;
  }
  .menu-btn:checked ~ .menu {
    max-height: 350px;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  } */

/* Berger menu extra menu styling */
 /* .nav-font {
    font-size: 20px;
    font-weight: bold;
  }
  .nav-font a:hover {
    color: #fff
  }
  .nav-item-border {
  border-bottom: 1px solid rgb(0, 0, 87);
  }
  .menu a:hover {
  background-color: rgb(0, 0, 87);
  }
*/

/* Main section - code for Flexbox various options from 3 to 1 column */

.column-outer-margin {
  margin: 0px 30px
}

.boxes {
	padding: 30px 30px 300px;
}

/* create a flex container for the 2-col and 3 col responsive flexbox */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
}

.flex-item {
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  align-items: stretch;
}

.columns {
	margin: 0 -15px;
	display: flex;
  flex-flow: wrap;
}

.col {
	margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
	padding: 20px;
	border-radius: 6px;
	box-sizing: border-box;
  width: 100%;
}

.col-100 {
  flex: 1 1 calc(100% - 30px);
}

.col-50 {
  flex: 1 1 calc(50% - 30px);
}

.col-33 {
	flex: 1 1 calc(33.333% - 30px);
}

.col-25 {
  flex: 1 1 calc(25% - 30px);
}

/* Column overrides for each row and page requirement */

/* Homepage blocks */
/* Top hero – full width block - Join Now */
.col-hp-top-100 {
	width: calc(100% - 30px);
  height: 100%;
  color:#ffffff;
  text-align:center;
  font-size: var(--h1);
  border: 1px solid #999999;
}

.background-cover {
  position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.background-cover:before {
   content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/starry-night.jpg') center center;
    opacity: .70;
}

/* Three blog posts in row – June 2025, May 2025, March 2025 */
/* First block in row of three */

.col-1-33-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-1-33-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/planets-in-a-row.jpg') center center;
    opacity: .25;
}

.col-1-33-blog-background:hover {
    background-color: #aa5800;
}

/* Second block in row of three */

.col-2-33-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-2-33-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/telescope.jpg') center center;
    opacity: .25;
}

.col-2-33-blog-background:hover {
    background-color: #aa5800;
}

/* Third block in row of three */

.col-3-33-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-3-33-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/mars-vista.jpg') center center;
    opacity: .35;
}

.col-3-33-blog-background:hover {
    background-color: #aa5800;
}

/* Two blocks in a row – Our Observatory and Events & Meetings */

/* First Block */

.col-1-50-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-1-50-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/observatory.jpg') center center;
    opacity: .25;
}

.col-1-50-blog-background:hover {
    background-color: #aa5800;
}

/* Second block */

.col-2-50-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-2-50-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/events-and-meetings.jpg') center center;
    opacity: .25;
}

.col-2-50-blog-background:hover {
    background-color: #aa5800;
}

/* Resources, About Us, Contact us in row of three */

/* First block */

.col-4-33-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-4-33-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/resources-books.jpg') center center;
    opacity: .25;
}

.col-4-33-blog-background:hover {
    background-color: #aa5800;
}

/* Second block */

.col-5-33-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-5-33-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/about-us-retro.jpg') center center;
    opacity: .30;
}

.col-5-33-blog-background:hover {
    background-color: #aa5800;
}

/* Third block */

.col-6-33-blog-background {
    position: relative;
    z-index: 1;
    border: 1px solid #999999
}

.col-6-33-blog-background:before {
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/astronomy-club-logo-sm.png') center center;
    opacity: .20;
}

.col-6-33-blog-background:hover {
    background-color: #aa5800;
}

/* Body elements formatting */

/* About page */
/* Set full width column to left aligned */

.col-about-100 p {
 text-align: left;
}

/* Blog page elements formatting also used for page top image display */

.blog-header-image-container {
  width: 70%;
  margin: 0 auto;
}

.blog-header-image {
  width: 100%;
  height: 100%;
  border: 1px solid #999999
}


/* Contact page elements */

/* Contact form flexbox formatting */

.col-outer-margin-form {
  border: 1px solid #cccccc;
	border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.form-details-link {
  text-align: center;
}

.form-details-link a:hover {
  color:#999999;
}

.contact-section {
    background: #bdc3c7;
    padding: 30px 0 50px 0;
    text-align: center;
    width: 100%;
    h3 {
        margin: 0;
        padding: 0;
        color: rgba(255, 255, 255);
        font-size: 25px;
        margin-bottom: 20px;
        color:#000000;
    }

    /* experimenting with the use of attribute selectors [] */
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
        height: 650px;
        background: rgba(0, 0, 0, 0.30);
        text-align: left;
        padding: 10px 0;
        .name,
        .email,
        .enquiry,
        .subject,
        .content
        
         {
            width: 80%;
            margin: 0 auto;
            label {
                display: block;
                padding: 0;
                margin: 0;
                color: #ffffff;
            }
        }
        
        .name {
          input[name="name"] {
            width: 100%;
            padding: 0px;
            color: black;
            font-size:22px;
          }
        }

        .email {
        input[name="email"] {
            width: 100%;
            padding: 0px;
            color: black;
            font-size:22px;
          }
        }

        .enquiry {
          input[name="enquiry"] {
            width: 100%;
            padding: 0px;
            color: black;
            font-size:22px;
          }
        }

        .subject {
            height: 62px;
            input[name="subject"] {
                width: 100%;
                padding: 0px;
                color: black;
                font-size:22px;
            }
        }
        .content {
            textarea {
                width: 100%;
                padding: 0px;
                resize: none;
                color: black;
                font-size:22px;
            }
            button {
                margin-top: 15px;
                width: 100%;
                background: #ff8400;
                padding: 10px 50px 10px 50px;
                border: 2px solid #000000;
                color:#000000;
                border-radius: 8px;
                font-weight: bold;
                &:hover {
                    background: #ffffff;
                    border: 2px solid #000000;
                    cursor: pointer;
                    color:#000000;
                }
            }
        }
    }
}



/* This is commented out because it uses media queries which are not until week 3 */
/* @media screen and (max-width: 1000px) {
	
	.col-25 {
		width: calc(50% - 30px);
	}
}

@media screen and (max-width: 800px) {
	
	.col-50, .col-33, .col-25 {
		width: calc(100% - 30px);
	}
} */

/* Footer elements */

.col-hp-footer-100 {
  width: calc(100% - 30px);
  height: 100%;
  color:#c0c0c0;
  border: 0px;
  text-align:center;
  padding-top: 20;
  padding-bottom: 10px;
}

.footer-container {
  padding: 0px 15px;
}

.col-hp-footer-100 p {
  font-size: 12px;
}

.col-hp-footer-100 p a:hover, p a:active, p a:visited {
  color:#999999;
}

