/* This is the main css stylesheet for the Astronomy Club website */

/* Universal selectors */

* {
  font-family: 'Roboto', sans-serif;
}

/* Setting root variables */

:root {
  /* Overall page color */
  --main-bg-color: rgb(0, 0, 87);

  /* Default typography */
  --h1: 25px;
  --h2: 20px;
  --p: 16px;
}


/* Overall styles for background color and other selectors - set padding and margin to zero */

Body {
    background-color: var(--main-bg-color);
    padding: 0px;
    margin: 0px;
}

/* Header section (sticky) */

/* Header container css */

.header-container {
  position: sticky;
  top: 0;
  padding: 0px 0px;
  background: #555;
  color: #f1f1f1;
}

/* header logo */

.header-logo {
  padding: 10px 20px;
}

/* code for burger menu */

header {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0px 0px;
  color: #f1f1f1;
}
header h1 {
  text-align: center;
}
header a {
  text-decoration: none;
}
/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}
/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  margin-right: 1rem;
}
/* Set width for mobile/smaller screen size. */
/* I set it big here so I don't have to shrink the screen so much */
/* for testing purposes */

/* NOTE: Unable to swap out the hamberger icon on desktop for a different menu style due to the restrictions of not being able to use media queries */

  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
  }
  h1 {
    grid-area: title;
  }
  .menu a {
    text-decoration: none;
    color: black;
  }
  .menu-btn {
    display: none;
  }
  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 50px 40px 30px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }
  .navicon {
    background: #ffffff;
    display: block;
    height: 3px;
    width: 35px;
    position: relative;
  }
  .navicon:before {
    top: 10px;
  }
  .navicon:after {
    top: -10px;
  }
  .navicon:before,
  .navicon:after {
    background: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }
  .menu {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .menu a {
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    background-color: #eee;
    width: 100%;
    text-align: center;
  }
  .menu-btn:checked ~ .menu {
    max-height: 350px;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }

/* Navigation extra menu styling */
  .nav-font {
    font-size: 20px;
    font-weight: bold;
  }
  .nav-font a:hover {
    color: #fff
  }
  .nav-item-border {
  border-bottom: 1px solid rgb(0, 0, 87);
  }
  .menu a:hover {
  background-color: rgb(0, 0, 87);
  }

/* Navigation bar - responsive break points */




/* Body elements */




/* Three columns */




/* Two columns */




/* One column (full width) */




/* Footer elements */



